body{
    font-family: 'Roboto Slab', serif;
    margin: 0px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1a1519;
  }
  h1{
    
    font-size: 35px;  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .active {
    background-color: red;
  }

span{
    color:tomato;
}
.button{
    color: white;
    font-weight: 200px;
    text-decoration: none;
    background-image: linear-gradient(rgb(241, 8, 39), rgba(218, 44, 14, 0.705));
    padding: 7px 15px;
    border-radius: 10px;
}
.top-baner{
    display: flex;
    padding-top: 5%;
    height: 400px;
}
.half-width {
    width: 50%;
    padding-left: 5%;
}
.half-width img {
    width: 70%;
}
#about-sec{
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-size: cover;
    margin-top: 4%;
}
.item{
    height: 600px;
    margin-top: 4%;
}
.my-recipe{
    text-align: center;
}
.follower{
    height: 150px;
    text-align: center;
    margin: 2.5%;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.card{
    float: left;
    width: 21%;
    margin: 2.5%;
    padding: 3.6%;
    margin-top: 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
   
}
.web{
    float: left;
    width: 30%;
    
    
}
.last-sec{
    text-align: center;
    background-color: black;
    height: 150px;
    padding-top: 1%;
}
h3{
    color: dimgrey;
}
.container{
    margin: 3%;
}
.submit-aria{
    background-color: teal;
    border-radius: 5px;
    padding-left: 22px;
}
footer{
    color: gainsboro;
}

